.layer-container{
    height: 250px;
    border: 1px solid var(--dark-gray);
    border-radius: 5px;
    margin-top: 10px;
    overflow-y: auto;
}

.layer{
    border-bottom: 1px solid var(--dark-gray);
    position: relative;
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
}
.layer-selected{
    background-color:var(--dark-gray);
}
.layer-input{
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--white);
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    outline: none;
}