:root{
    --black: #393D47;
    --gray: #8391a1;
    --dark-gray: #63788f;
    --white: #DBE2E9;
    --blue:#00a4b4;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
body{
    margin: 0;
    height: 100vh;
    font-size: 1.5em;
    background-color: var(--black);
    color: var(--white);
}
.header{
    background-color:var(--gray);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divider{
    height: 100%;
    width: 3px;
}


.title{
    margin: 0 20px;
    position: absolute;
    left: 0;
}
.program{
    position: relative;
    width: 100%;
    height: calc(100vh - 40px);
}
.canvas{
    position: absolute;
    width: 100vw !important;
    height: calc(100vh - 40px)!important;
}
.tool-bar{
    background-color:var(--gray);
    padding: 0 10px;
    width: 200px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}
.tool-bar-wide{
    width: 300px;
}
.tool-bar-container{
    position: absolute;
}
.right{
    right: 0;
}


.button{
    padding: 5px 10px;
    min-width: 80px;
    margin: 3px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--dark-gray);
    background-color: transparent;
    color: var(--white);
    flex: 1;
    
}
.button:hover, .button-selected{
    background-color: var(--white);
    color: var(--black);
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col{
    display: flex;
    flex-direction: column;
}
label{
    padding: 5px;
}
label:not(:first-child)
{
    margin-top: 10px;
}

.input{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid var(--dark-gray);
    background-color: transparent;
    color: var(--black);
    background-color: white;
    outline: none;
    flex: 1;
    text-align: center;
}


.icon{
    padding: 5px;
    display: flex;
}
.icon::before{
    width: 33px;
    height: 33px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.icon:hover::before{
    background-color: var(--white);
    color: var(--black);
}


.modal-regular{
    width: 100vw;
    height: 100vh;
    max-width: 800px;
    max-height: 600px;
}